#videoCanvas {
	-webkit-transform : scale(2.0);
	border-radius: 999px;
}

a {
	color : white !important;
}


.magic {
  font-family: "gotham_bold" !important;
  text-align : center;
}
.magic span {
	font-size: 1em;
	font-weight: 700;
	line-height: 0.8em;
	text-transform:uppercase;
}